body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}


/* HEADER-1 */

.header-one {
    background: #002147;
}

.header-one .row div a {
    color: #a3adb9 !important;
    padding: 9px 4px;
    line-height: 30px;
    border-right: 1px solid #043267;
    font-size: 12px;
}

.header1 a i {
    width: 30px;
    height: 30px;
    color: #92a5bb;
    padding: 7px 4px;
    text-align: center;
    border-right: 1px solid #002147;
}


/* HEADER-2 */

.top2-container {
    padding: 18px;
}

.header {
    padding: 10px 16px;
    background: white;
    color: black;
    position: fixed;
    width: 100%;
}

.color {
    background: black;
}

.fa {
    color: #d6d6d6;
    padding: 4px;
}

.navbar-light .navbar-nav .nav-link {
    color: #131a22;
    font-size: 17px;
    font-weight: 800;
}


/* SEARCH BAR */

.top3-container {
    padding: 12px 0;
    background-color: #002147;
    position: sticky;
    width: 100%;
}

.search-container input {
    width: 75%;
    float: left;
    margin-top: 8px;
    padding: 12px;
    margin-bottom: 7px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1.5px solid #fff;
}

.search-container button {
    float: left;
    padding: 10px 0;
    margin-top: 8px;
    margin-bottom: 7px;
    color: #fff;
    width: 25%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #e25f30;
    border: 2px solid #e25f30;
}


/* COROUSEL */

.image-img {
    width: 100%;
    height: 789px
}

.image-img:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.carousel-caption {
    position: absolute;
    left: 0;
    width: 50%;
    top: 30%;
    margin-left: 25%;
}

.carousel-caption span {
    color: #f26838;
}

.slider-con h2 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: bolder;
}

.slider-con p {
    /* font-size: 21px;
            color: #fff;
            margin-bottom: 40px;
            margin-top: 30px;
            line-height: 30px;
            font-weight: 300; */
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 30px;
    line-height: 30px;
    font-weight: 300;
}

.bann-btn-1 {
    background: #f36b3b;
    background: -webkit-linear-gradient(to top, #ef612f, #f36b3b);
    background: linear-gradient(to top, #ef612f, #f36b3b);
    color: #fff;
    border: 1px solid #f36b3b;
}

.bann-btn-2 {
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
}

.slider-con a {
    background: #f36b3b;
    color: #fff;
    padding: 14px 45px;
    line-height: 45px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    text-align: center;
    margin: 10px 20px;
}

.slider-con a:hover {
    background: Transparent !important;
    color: #fff !important;
}


/* DISCOVER MORE SECTION */

.pad-bot-70 {
    padding-bottom: 70px;
}

.sec-pad {
    padding: 100px 0px;
    max-width: 100%;
}

.about-sp {
    padding: 0px 30px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title-weight {
    font-weight: 600;
}

.title h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 40px;
}

.title h2 span {
    font-size: 36px;
    font-weight: 700;
    color: #f26838;
    line-height: 40px;
}

.title p {
    font-size: 18px;
    color: #3f444a;
    font-weight: 300;
}

.course-card {
    margin-bottom: 30px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

a {
    font-size: 15px;
    color: #636363;
    font-weight: 400;
    line-height: 24px;
}

.card-padding {
    margin-top: 35px;
    border: #182424;
    padding: 0;
}

.card-img-top {
    max-width: 100%;
    margin-left: 2px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 500;
}

.sec-btn {
    margin-left: -10px;
    display: inline-block;
    vertical-align: middle;
}

.sec-btn a {
    padding: 6px 25px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    height: 35px;
    text-align: center;
    margin: 0px 10px;
    color: #02294e;
    border: 1px solid #02294e;
    margin-left: 10px;
}

.sec-btn a:hover {
    background: #f36b3b !important;
    color: #fff !important;
}

.polaroid {
    max-width: 405px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


/* FOOTER PART 1*/

.home-foot1-img {
    padding-top: 23px;
}

.full-sec {
    background: #f36b3b;
    padding: 40px 0px;
    position: relative;
    overflow: hidden;
}

.home-foot1-text h4 {
    padding-top: 23px;
    text-transform: uppercase;
    font-weight: 600;
    color: antiquewhite;
}

.home-foot1-text p {
    margin-bottom: 0px;
    padding-top: 11px;
    color: antiquewhite;
}

.home-foot1-link {
    position: relative;
    overflow: hidden;
    padding-top: 23px;
}

.home-foot1-link a {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 15px 20px;
    line-height: 60px;
}

.home-foot1-link a:hover {
    background: #fff !important;
    color: black !important;
}


/* =================================================================== */


/* FOOTER PART 2*/

.home-foot2-bg {
    padding: 80px 0px 65px 0px;
    background: #002147;
}

.home-foot2-link {
    border-top: 1px groove #6a83a0;
    border-bottom: 1px groove #6a83a0;
    padding: 35px 0px;
    margin-top: 35px;
}

.home-foot2-link .col-md-4 {
    border-right: 1px groove #6a83a0;
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.home-foot2-bg h4 {
    font-size: 17px;
    color: #d6d6d6;
    padding-bottom: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.home-foot2-link ul li {
    width: 50%;
    float: left;
}

.home-foot2-link a {
    color: #838384;
    font-size: 15px;
    font-weight: 500;
}

.home-foot2-link-1 {
    padding-top: 25px;
}

.home-foot2-bg p {
    font-size: 14px;
    color: #838384;
    font-weight: 500;
}

.home-foot2-link-1 ul {
    position: relative;
    overflow: hidden;
}

.home-foot2-link-1 ul li {
    float: left;
    padding-right: 8px;
}

.sprite {
    width: 157px;
    height: 55px;
    display: inline-block;
}

.sprite-android {
    background: url(images/googleplay.png) no-repeat -12px -15px;
}

.sprite-ios {
    background: url(images/googleplay.png) no-repeat -170px -15px;
}

.footer-img img {
    max-width: 157px;
    height: 48px;
    border-radius: 10px;
}

.ft-pad {
    margin-left: -1px !important;
}

.ft-pad a i {
    margin-right: 7px;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 1px solid #6f6f6f;
    border-radius: 20px;
    padding: 8px;
    color: #c5c5c5;
}

.ft-pad a i:hover {
    background: #d6d6d6;
    color: #000;
}